<div class="w-full h-[90vh] flex items-center justify-center px-10 py-3 bg-[#1e1e1e]">

    <!-- Left side form -->
    <div class="w-11/12 h-full flex items-center justify-center">
        <div
            class="w-1/2 h-full flex flex-col items-center justify-center  bg-gray-100 p-8 rounded-bl-2xl rounded-tl-2xl px-10 py-8 space-y-14">
            <h1 class="text-4xl font-bold">Welcome Back !</h1>

            <form class="w-4/5 space-y-8">
                <div class="space-y-2">
                    <label for="email" class="block   text-gray-700 font-bold tracking-wide">Email Address</label>
                    <div class="flex items-center justify-start space-x-2 border rounded py-1 px-2 ">
                        <img src="assets/email.png" alt="" class="w-6">
                        <input type="email" id="email" name="email" required
                            class="block w-full px-3 py-2 rounded-md shadow-sm focus:outline-none  sm:text-sm">
                    </div>
                </div>

                <div class="space-y-2">
                    <label for="password" class="block   text-gray-700 font-bold tracking-wide">Password</label>
                    <div class="flex items-center justify-start space-x-2 border rounded py-1 px-2 ">
                        <img src="assets/lock.png" alt="" class="w-6">
                        <input type="password" id="password" name="password" required
                            class="block w-full px-3 py-2 rounded-md shadow-sm focus:outline-none  sm:text-sm">
                    </div>
                </div>

                <button type="submit"
                    class="mt-6 w-full bg-[#181818] cursor-pointer text-white font-semibold text-lg py-4 px-4 rounded-md hover:scale-105 transition duration-200">Log
                    In</button>
            </form>

            <div class="w-4/5 text-center space-y-3">
                <p class="text-gray-600 font-semibold cursor-pointer tracking-wide text-lg hover:scale-105 inline-block">Forgot Password ?</p>
                <div class="flex items-center justify-center space-x-2">
                    <p class="text-gray-600 font-semibold tracking-wide text-lg">Don't have an account ? </p>
                    <p routerLink="/signup" class="text-[#181818] font-bold  cursor-pointer underline hover:scale-105 transition-all duration-200  ease-in">Sign Up</p>
                </div>

            </div>

            <div class="w-11/12 h-0.5 bg-gray-500"></div>

            <div class="w-1/3 py-3 flex items-center justify-center space-x-10 border rounded-full cursor-pointer hover:scale-105 transition-all duration-100 ease-in hover:bg-gray-200">
                <img src="assets/google.png" alt="google" class="w-10">
                <h1 class="font-semibold text-lg tracking-wide">Google</h1>
            </div>

        </div>

        <!-- Right side image -->

        <div class="w-1/2 h-full flex items-center justify-center rounded-tr-2xl rounded-br-2xl">
            <img src="assets/login.jpg" alt="Login"
                class="w-full h-full object-cover object-center rounded-tr-2xl rounded-br-2xl">
        </div>
    </div>
</div>