<main class="w-full h-full bg-[#1e1e1e]">

    <div id="section1" class="w-full h-[40vh] bg-amber-200 flex items-center justify-center">
        <div class="w-fit h-full relative  flex items-center justify-center flex-col text-center space-y-10">
            <img src="assets/star.png" alt="star" class="absolute right-72 top-10 w-8 hidden lg:block">
            <img src="assets/circle.png" alt="circle" class="absolute right-52 top-20 w-2 hidden lg:block">
            <img src="assets/circle.png" alt="circle" class="absolute right-44 top-20 w-4 hidden lg:block">
            <img src="assets/circle.png" alt="circle" class="absolute right-48 top-28 w-3 hidden lg:block">
            <h1 class="font-bold text-4xl">About Us</h1>
            <p class="w-4/5 text-lg">Notestalgia is more than notes — it’s a space where learners discover, creators
                share, and knowledge flows both ways.</p>
        </div>
    </div>

    <div id="section2" class="w-full h-[50vh] text-white flex flex-col items-center py-20 px-10 space-y-20">
        <h1 class="font-bold text-4xl">Our Mission</h1>

        <div id="body2" class="w-full flex items-start justify-center space-x-10">
            <p class="w-1/2 px-10 text-justify">At Notestalgia, we aim to make studying smarter and more accessible by
                providing curated handwritten and digital notes from real students. Our goal is to support learners with
                quality resources that save time, enhance understanding, and reduce academic pressure.</p>

            <p class="w-1/2 px-10 text-justify">We also strive to empower note creators by giving them a platform to
                share their knowledge and earn from it. Through this, we’re building a helpful, supportive learning
                community where efforts are appreciated and education becomes collaborative.

            </p>
        </div>

    </div>
</main>