<main class="w-full h-full bg-[#1e1e1e]">

    <div class="w-full h-[40vh] bg-amber-200 flex items-center justify-center">
        <div class="w-fit h-full relative  flex items-center justify-center flex-col text-center space-y-10">
            <img src="assets/star.png" alt="star" class="absolute right-72 top-10 w-8 hidden lg:block">
            <img src="assets/circle.png" alt="circle" class="absolute right-52 top-20 w-2 hidden lg:block">
            <img src="assets/circle.png" alt="circle" class="absolute right-44 top-20 w-4 hidden lg:block">
            <img src="assets/circle.png" alt="circle" class="absolute right-48 top-28 w-3 hidden lg:block">
            <h1 class="font-bold text-4xl">About Us</h1>
            <p class="w-4/5 text-lg">Notestalgia is more than notes — it’s a space where learners discover, creators
                share, and knowledge flows both ways.</p>
        </div>
    </div>
</main>