<div class="bg-[url('https://cdn.dribbble.com/userupload/9404763/file/original-86d29dd2086188815c2cbe7198bf7d32.png?resize=752x564&vertical=center')] bg-cover bg-center h-[80vh] w-full">

  <!-- Overlay Content -->
  <div class="relative z-10 flex flex-col items-center justify-center w-full h-full text-white bg-black/70">
    <h1 class="text-4xl font-bold mb-6">404 - Page Not Found</h1>
    <a routerLink="/" class="bg-amber-400 hover:bg-amber-500 text-black px-6 py-3 rounded-lg font-medium transition cursor-pointer">
      ⬅ Back to Home
    </a>
  </div>
</div>
