<div class="w-full h-[90vh] flex items-center py-32 flex-col  text-center bg-[#1e1e1e] text-white space-y-20">

    <h1 class="text-4xl font-bold">Reset Your Password</h1>

    @if(successMessage != null){
    <p class="text-green-500 text-xl tracking-wider">{{successMessage}}</p>
    }



    <form [formGroup]="resetForm" class="w-full flex flex-col items-center justify-center text-center space-y-10"
        (ngSubmit)="onSubmit()">
        <div class="w-4/5 lg:w-1/5 space-y-4">
            <label class="block text-xl font-medium">Enter Your Email here</label>
            <input type="email" formControlName="email"
                class="bg-white w-full py-2 rounded-md px-4 outline-none font-medium text-black text-lg text-center">
            @if (resetForm.get('email')?.invalid && resetForm.get('email')?.touched) {
            <p class="text-[#f24141] mt-2 text-lg tracking-wide">
                Please enter a valid email address.
            </p>
            }
            @if(errorMessage != null){
            <p class="text-[#f24141] mt-2 text-lg tracking-wide">{{errorMessage}}</p>
            }
        </div>

        <button type="submit"
            class="rounded-md w-4/5 lg:w-1/5 h-16 cursor-pointer text-xl font-medium bg-amber-300 text-[#1e1e1e] hover:bg-amber-400 transition duration-300 hover:scale-105">Send
            Password Reset Link</button>
    </form>

</div>