<div class="h-full w-full flex flex-col items-start justify-center space-y-10 overflow-x-hidden">
    <div
        class="w-full flex flex-col items-center justify-center text-center lg:justify-start text-white py-6 px-10 space-y-3">
        <h1 class="text-3xl font-bold">Upload Your Handwritten Notes</h1>
        <p class="">Share your knowledge, inspire others, and earn with every download.</p>
    </div>

    <div class="w-full flex items-start justify-center h-full">
        <!-- Left Side  -->
        <div class="hidden xl:flex flex-col space-y-20 pl-10 pt-10 text-white w-[30%] border-r border-gray-700">

            <!-- Step 1 -->
            <div class="flex items-start space-x-4">
                <div [ngClass]="{
            'bg-yellow-400': currentStep === 1,
            'border-2 border-white': currentStep !== 1
          }" class="h-5 w-5 rounded-full mt-1 transition-all duration-300">
                </div>
                <div>
                    <h2 class="font-bold text-lg" [class.text-yellow-400]="currentStep === 1">Upload Notes</h2>
                    <p class="text-sm text-gray-400">Upload your notes and proceed</p>
                </div>
            </div>

            <!-- Step 2 -->
            <div class="flex items-start space-x-4">
                <div [ngClass]="{
            'bg-yellow-400': currentStep === 2,
            'border-2 border-white': currentStep !== 2
          }" class="h-5 w-5 rounded-full mt-1 transition-all duration-300">
                </div>
                <div>
                    <h2 class="font-bold text-lg" [class.text-yellow-400]="currentStep === 2">Fill In The Details</h2>
                    <p class="text-sm text-gray-400">Add title, subject, etc.</p>
                </div>
            </div>

            <!-- Step 3 -->
            <div class="flex items-start space-x-4">
                <div [ngClass]="{
            'bg-yellow-400': currentStep === 3,
            'border-2 border-white': currentStep !== 3
          }" class="h-5 w-5 rounded-full mt-1 transition-all duration-300">
                </div>
                <div>
                    <h2 class="font-bold text-lg" [class.text-yellow-400]="currentStep === 3">Submit</h2>
                    <p class="text-sm text-gray-400">Review & submit your note</p>
                </div>
            </div>

        </div>


        <!-- Right Side -->

        <form [formGroup]="uploadForm" class="h-full  w-11/12 xl:w-[70%] flex flex-col items-center justify-start"
            (ngSubmit)="formSubmit()">

            <!-- Phase1 -->

            @if(errorMessageForFile){
            <div class="w-1/4 bg-red-500 text-white p-2 rounded-lg mb-2">
                <p class="text-center">{{ errorMessageForFile }}</p>
            </div>
            }

            <div id="phase1" class="w-full h-full flex flex-col items-center justify-start space-y-5">

                <!-- 👇 Combined Preview + Upload Box -->
                <label for="uploadFile" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)"
                    (drop)="onFileDrop($event)" [ngStyle]="{
                        'border-color': isDragging ? '#f59e0b' : '#fbbf24',
                        'border-style': (isDragging || isDropped) ? 'solid' : 'dashed'
                        }"
                    class="w-11/12 h-[40vh] xl:h-[50vh] border border-dashed  rounded-2xl flex flex-col items-center justify-center cursor-pointer space-y-3">

                    @if (selectedFileName) {
                    <p class="text-xl font-semibold text-amber-400">📄 {{ selectedFileName }}</p>
                    <p class="text-white text-sm opacity-70">(Click to change)</p>
                    }
                    @else {
                    <img src="assets/upload.png" alt="upload file" class="w-24">
                    <h1 class="text-2xl font-semibold text-white tracking-wide">Upload Your File</h1>
                    <p class="text-base text-white text-opacity-80 mt-1">Drag & drop or click to select a file</p>
                    }

                    <!-- 👇 Always keep the input -->
                    <input type="file" id="uploadFile" class="hidden" accept="application/pdf"
                        (change)="fileUploadOnClick($event)">

                    <!-- 👇 Validation message -->
                    @if (uploadForm.get('fileUrl')?.touched && uploadForm.get('fileUrl')?.invalid) {
                    @if (uploadForm.get('fileUrl')?.errors?.['required']) {
                    <p class="text-sm text-red-500">File is required</p>
                    }
                    }

                </label>

                <!-- 👇 Always visible Next button -->
                <div class="w-11/12 flex items-center justify-end">
                    <button id="button1" type="button" (click)="phase1Animation()"
                        [disabled]="uploadForm.get('fileUrl')?.invalid"
                        class="bg-amber-300 rounded w-full sm:w-36 h-12 hover:bg-amber-400 transition-all duration-300 ease-in hover:scale-105 cursor-pointer disabled:bg-amber-100 disabled:cursor-not-allowed">
                        Next
                    </button>
                </div>

            </div>

            <!-- Phase2 -->


            <div id="phase2" class="w-full h-full flex-col items-center justify-start space-y-5 hidden px-4 ">

                <div class="w-full flex flex-col-reverse xl:flex-row items-center justify-center lg:space-x-6 ">
                    <div class="w-full h-full xl:w-1/2 space-y-4">
                        <div class="flex flex-col space-y-1">
                            <label for="title" class="text-sm text-white">Title</label>
                            <input id="title" type="text" formControlName="title" placeholder="Enter title"
                                class="bg-transparent border placeholder:text-sm  rounded-lg px-4 py-2 focus:outline-none  text-white placeholder-white placeholder-opacity-60">

                            @if (uploadForm.get('title')?.touched && uploadForm.get('title')?.invalid) {
                            @if(uploadForm.get('title')?.errors?.['required']){
                            <p class="text-sm text-red-500">Title is required</p>
                            }
                            @if(uploadForm.get('title')?.errors?.['minLength']){
                            <p class="text-sm text-red-500">Title must have atleast 3 letters</p>
                            }
                            }
                        </div>

                        <div class="flex flex-col space-y-1">
                            <label for="category" class="text-sm text-white">Category</label>
                            <select id="category" formControlName="category"
                                class="bg-transparent border placeholder:text-sm  rounded-lg px-4 py-2 focus:outline-none  text-white placeholder-white placeholder-opacity-60">
                                <option value="#" class="text-sm text-black" disabled>Select a Category</option>
                                @for (category of categoryModel; track $index) {
                                <option value="{{category}}" class="text-sm text-black">{{category}}</option>
                                }
                            </select>

                            @if (uploadForm.get('category')?.touched && uploadForm.get('category')?.invalid) {
                            @if(uploadForm.get('category')?.errors?.['required']){
                            <p class="text-sm text-red-500">Category is required</p>
                            }
                            }
                        </div>

                        <div class="flex flex-col space-y-1">
                            <label for="level" class="text-sm text-white">Academic Level</label>
                            <select id="level" formControlName="level"
                                class="bg-transparent border placeholder:text-sm  rounded-lg px-4 py-2 focus:outline-none  text-white placeholder-white placeholder-opacity-60">
                                <option value="#" class="text-sm text-black" disabled>Select a Level</option>
                                @for (level of levelModel; track $index) {
                                <option value="{{level}}" class="text-sm text-black">{{level}}</option>
                                }
                            </select>

                            @if (uploadForm.get('level')?.touched && uploadForm.get('level')?.invalid) {
                            @if(uploadForm.get('level')?.errors?.['required']){
                            <p class="text-sm text-red-500">Academic level is required</p>
                            }
                            }
                        </div>

                        <div class="flex flex-col space-y-1">
                            <label for="subject" class="text-sm text-white">Subject</label>

                            <select id="subject" formControlName="subject"
                                class="bg-transparent border placeholder:text-sm  rounded-lg px-4 py-2 focus:outline-none  text-white placeholder-white placeholder-opacity-60">
                                <option value="#" class="text-sm text-black" disabled>Select a Subject</option>
                                @for (subject of subjectModel; track $index) {
                                <option value="{{subject}}" class="text-sm text-black">{{subject}}</option>
                                }
                            </select>

                            @if (uploadForm.get('subject')?.touched && uploadForm.get('subject')?.invalid) {
                            @if(uploadForm.get('subject')?.errors?.['required']){
                            <p class="text-sm text-red-500">Subject is required</p>
                            }
                            }

                        </div>
                    </div>
                    <div class="w-full xl:w-1/2 h-[40vh] mb-10 xl:mb-0">
                        @if(thumbnailPreviewUrl){
                        <label for="fileInput"
                            class="h-72 rounded-2xl flex flex-col text-white items-center justify-center cursor-pointer">
                            <img [src]="thumbnailPreviewUrl" class="w-full h-full object-cover rounded-xl"
                                alt="Thumbnail preview">
                            <input type="file" id="fileInput" class="hidden" accept="image/*"
                                (change)="selectThumbnail($event)">
                        </label>
                        }
                        @else {
                        <label for="fileInput"
                            class="border border-dashed border-amber-200 h-full rounded-2xl flex flex-col text-white items-center justify-center cursor-pointer">
                            <img src="assets/uploadImage.png" alt="" class="invert grayscale w-28">
                            <h1>Upload a thumbnail of your file</h1>
                            <h1>(optional)</h1>
                        </label>
                        <input type="file" id="fileInput" class="hidden" accept="image/*"
                            (change)="selectThumbnail($event)">
                        }
                    </div>
                </div>

                <div class="flex flex-col space-y-1 w-full">
                    <label for="description" class="text-sm text-white">Description (optional)</label>
                    <textarea id="description" rows="4" placeholder="Enter description" formControlName="description"
                        class="bg-transparent border placeholder:text-sm  rounded-lg px-4 py-2 focus:outline-none text-white placeholder-white placeholder-opacity-60"></textarea>
                </div>

                <div
                    class="w-full flex flex-col sm:flex-row items-center justify-center sm:justify-between space-y-6 sm:space-y-0">
                    <button id="back2" type="button" (click)="phase2BackAnimation()"
                        class="bg-blue-300 rounded w-full sm:w-36 h-12 hover:bg-blue-400 transition-all duration-300 ease-in hover:scale-105 cursor-pointer">Back</button>

                    <button id="button2" type="button" (click)="phase2Animation()"
                        [disabled]="uploadForm.get('title')?.invalid || uploadForm.get('category')?.invalid || uploadForm.get('subject')?.invalid"
                        class="bg-amber-300 rounded w-full sm:w-36 h-12 hover:bg-amber-400 transition-all duration-300 ease-in hover:scale-105 cursor-pointer disabled:bg-amber-100 disabled:cursor-not-allowed">Next</button>
                </div>
            </div>

            <!-- Phase 3 -->

            <div id="phase3" class="w-full h-full hidden items-center justify-center flex-col px-6 py-4 space-y-6">

                <div
                    class="w-full flex flex-col-reverse xl:flex-row items-center justify-center xl:space-x-6 bg-[#1e1e1e] rounded-2xl shadow-lg overflow-hidden">

                    <!-- Text Section -->
                    <div
                        class="w-full xl:w-2/3 h-full flex flex-col justify-center items-center xl:items-start px-6 py-4 text-white space-y-6">

                        <!-- Title -->
                        <h1 class="text-2xl font-bold tracking-wide text-amber-300">{{ title || '' }}</h1>

                        <!-- File Name -->
                        @if (selectedFileName) {
                        <h2 class="text-lg text-amber-400 font-bold">{{ selectedFileName }}</h2>
                        }

                        <!-- Meta Info (Simplified) -->
                        <div
                            class="space-y-1 text-white flex flex-col items-center xl:items-start justify-center w-full">
                            <div class="flex items-center justify-center xl:justify-start gap-2 w-full">
                                <span class="text-gray-400 font-medium">📘 Subject:</span>
                                <span class="opacity-90">{{ subject || 'N/A' }}</span>
                            </div>
                            <div class="flex items-center justify-center xl:justify-start gap-2 w-full">
                                <span class="text-gray-400 font-medium">🧠 Level:</span>
                                <span class="opacity-90">{{ level || 'N/A' }}</span>
                            </div>
                            <div class="flex items-center justify-center xl:justify-start gap-2 w-full">
                                <span class="text-gray-400 font-medium">📂 Category:</span>
                                <span class="opacity-90">{{ category || 'N/A' }}</span>
                            </div>
                        </div>
                        <!-- 
                        File Preview
                        <div (click)="toggleFilePreview()" title="Click to preview your uploaded PDF"
                            class="group w-1/4 px-4 py-3 cursor-pointer flex items-center justify-center gap-3 bg-amber-100 hover:bg-amber-200 border border-amber-300 rounded-2xl shadow-md hover:shadow-lg transition-all duration-300 ease-in-out">
                            <img src="assets/file.png" alt="PDF"
                                class="w-6 h-6 transition-transform group-hover:scale-110" />
                            <span class="text-amber-700 font-semibold tracking-wide">Preview File</span>
                        </div>

                        @if(isShowingFilePreview && filePreviewUrl != null){
 
                        <div class="fixed inset-0 bg-black bg-opacity-80 flex items-center justify-center z-30">
                            <div class="bg-white p-4 rounded-md w-[90%] h-[90%] overflow-hidden relative">
                                <button (click)="toggleFilePreview()"
                                    class="absolute top-3 right-3 text-black text-xl z-50 cursor-pointer">✖</button>
                                <pdf-viewer [src]="filePreviewUrl" [render-text]="true" [show-all]="true"
                                    [original-size]="false" style="height: 100%; display: block;">
                                </pdf-viewer>
                            </div>
                        </div>
                        } -->


                    </div>

                    <!-- Thumbnail Section -->
                    <div class="xl:w-1/3 w-4/5 h-72">
                        <img [src]="thumbnailPreviewUrl || 'assets/thumbnail.jpg'" alt="Preview"
                            class="w-full h-full object-cover object-center rounded-2xl xl:rounded-l-none xl:rounded-r-2xl" />
                    </div>
                </div>

                @if(description != ''){
                <div class="w-full flex-1 text-white overflow-y-auto px-2">
                    <p class="text-base leading-relaxed tracking-wide max-w-4xl mx-auto">
                        <span class="font-semibold">Description:</span> {{description || ''}}
                    </p>
                </div>
                }

                <div
                    class="w-full flex flex-col sm:flex-row items-center justify-center sm:justify-between space-y-6 sm:space-y-0">
                    <button id="back3" type="button" (click)="phase3BackAnimation()"
                        class="bg-blue-300 text-black rounded w-full sm:w-36 h-12 font-semibold hover:bg-blue-400 transition-all duration-300 ease-in-out hover:scale-105">
                        Back
                    </button>
                    <button id="button3" type="submit" [disabled]="uploadForm.invalid"
                        class="bg-amber-300 disabled:bg-amber-100 disabled:text-black disabled:cursor-not-allowed cursor-pointer text-black rounded w-full sm:w-36 h-12 font-semibold hover:bg-amber-400 transition-all duration-300 ease-in-out hover:scale-105">
                        Submit
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>